# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = basic.wad
doom_map = map01

# Rewards
living_reward = -0.1

# Rendering options
screen_resolution = RES_160X120
screen_format = RGB24
render_hud = false
render_minimal_hud = false
render_decals = false
render_particles = false
render_crosshair = false
render_weapon = false
render_decals = false
render_particles = false
render_effects_sprites = false
render_messages = false
render_corpses = false
render_screen_flashes = false
window_visible = true
depth_buffer_enabled = false
labels_buffer_enabled = false
automap_buffer_enabled = false
objects_info_enabled = false
sectors_info_enabled = false
window_visible = false

# Make episodes start after 20 tics (after unholstering the gun)
episode_start_time = 20

# Make episodes finish after 500 actions (tics)
episode_timeout = 1000

# Available buttons
available_buttons =
	{
		MOVE_LEFT
		MOVE_RIGHT
		ATTACK
	}

# Game variables that will be in the state
available_game_variables = { AMMO2 }

mode = PLAYER
doom_skill = 5